
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<p>@Html.ActionLink("Razor15條語法規則", "RazorRules", "Razor")</p>
<p>@Html.ActionLink("Razor判斷式與流程控制", "RazorStatement", "Razor")</p>


<p>@Html.ActionLink("RazorFunctions", "RazorFunctions", "Razor")</p>

<p>@Html.ActionLink("7-7 View 以@inherits 繼承自訂 RazorPage 類別", "InheritsRazorPage", "Razor")</p>

<p>@Html.ActionLink("Razor", "RazorTemplated", "Razor")</p>
<p>@Html.ActionLink("Razor", "MakeRequest", "Razor")</p>

